<div id="ContactsPage">
    <article class="row">
        <header class="contacts-header">Contact & About</header>
        <section class="col-md-4 col-12">
            <div>
                <h1>Contact Us</h1>
                <p>
                    This website was written by Somtochukwu Nnajide <br />
                    To get in contact please email <a href="mailto:somtochukwunnajide@gmail.com">somtochukwunnajide@gmail.com</a>
                </p>
            </div>
        </section>

        <section class="col-md-4 col-12">
            <div>
                <h1>About Us</h1>
                <p>
                    This website provides an introduction to Artificial<br />
                    Intelligence and was created as partial fulfillment of the<br />
                    assessment requirements of Web Design and<br />
                    Programming at the University of Canberra.<br />
                    This site is built on the ASP.NET CORE framework and<br />
                    employs Bootstrap responsive design techniques.
                </p>
            </div>
        </section>

        <section class="col-md-4 col-12">
            <div>
                <h1>Copyright</h1>
                <p>
                    All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash.</a> <br />
                    The icons for the footer from <a href="https://fontawesome.com/">fontawesome.</a> <br />
                    The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts.</a> <br />
                    The AI jobs dataset from <a href="https://ai-jobs.net/">Insights.</a> <br />
                    The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle.</a> <br />
                    The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/">Real Python.</a> <br />
                </p>
            </div>
        </section>
    </article>
</div>

<footer class="row">
    <section class="row">
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Index">Home</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Jobs">Jobs</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">About Us</a></div>
        <div class="col-md-3 col-sm-6 col-12">Follow Us</div>
    </section>

    <section class="row">
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/GenAISites">Gen AI Sites</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">Contact</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">Copyright Info</a></div>
        <div class="col-md-3 col-sm-6 col-12">
            <i class="fa fa-google"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
</footer>