<div id="GenAIPage">
    <section class="gen-ai-section gen-ai-parralax" id="Tools">
        <article class="row elastic-grid">
            <header class="eg-header-container eg-header">GenAI Tools</header>
            <div id="toolsGrid"></div>
        </article>
    </section>

    <section class="gen-ai-section gen-ai-parralax " id="Orgs">
        <article class="row elastic-grid">
            <header class="eg-header-container index-header">GenAI Organisations</header>
            <div id="orgsGrid"></div>
        </article>
    </section>

    <section class="gen-ai-section gen-ai-parralax " id="Applications">
        <article class="row elastic-grid">
            <header class="eg-header-container index-header">GenAI Applications</header>
            <div id="applicationsGrid"></div>
        </article>
    </section>
</div>

<footer class="row">
    <section class="row">
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Index">Home</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Jobs">Jobs</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">About Us</a></div>
        <div class="col-md-3 col-sm-6 col-12">Follow Us</div>
    </section>

    <section class="row">
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/GenAISites">Gen AI Sites</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">Contact</a></div>
        <div class="col-md-3 col-sm-6 col-12"><a class="footer-link" href="/Home/Contact">Copyright Info</a></div>
        <div class="col-md-3 col-sm-6 col-12">
            <i class="fa fa-google"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
</footer>

